body {
    background-color: white;
    padding: 0;
    margin: o;
    text-align: center;
    font-size: 16px;
}

header {
    background-color: whitesmoke;
    padding: 15px;
    box-shadow: 0 0 3px darkgray;
}

header li {
    display: inline;
    font-size: 20px;
}

header ul li a {
    color: black;
    text-decoration: none;
}

header li a :hover {
    color: royalblue;
}

header ul #sign a {
    color: #fff;
    background-color: blue;
    border-radius: 20px;
}

header ul #sign a:hover {
    background-color: goldenrod;
}

header ul li p {
    display: inline;
}

li a {
    margin-right: 50px;

}

.black {
    color: black;
    font-weight: bold;
    font-size: 32px;
}

.gray {
    color: darkgray;
    font-weight: bold;
    font-size: 32px;
}

p {
    float: left;
    margin-top: -10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    background-color: lightgray;
    width: 100%;
}

.banner1 img {
    width: 100%;
    padding: 32px 0px 32px 24px;
    justify-content: left;
}

.banner2 {
    padding-left: 50px;
    padding-right: 32px;
    width: 40%;
    margin-top: 120px;
    font-size: 30px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(129, 107, 107)
    font-weight: bold;
    text-align: justify;
}

.banner2 .button {
    background-color: rgb(90, 79, 79);
    display: block;
    flex-direction: row;
    padding: 0.05px;
}


.button h5 {
    color: white;
    font-weight: lighter;
    text-align: center;
}