body {
    background-color: white;
    padding: 0;
    margin: o;
    text-align: center;
    font-size: 16px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: whitesmoke;
    padding: 15px;
    box-shadow: 0 0 3px darkgray;
}

header li {
    display: inline;
    font-size: 20px;
}

header ul li a {
    color: black;
    text-decoration: none;
}

header li a :hover {
    color: royalblue;
}

header ul #sign a {
    color: #fff;
    background-color: blue;
    border-radius: 20px;
}

header ul #sign a:hover {
    background-color: goldenrod;
}

header ul li p {
    display: inline;
}

li a {
    margin-right: 50px;

}

.black {
    color: black;
    font-weight: bold;
    font-size: 32px;
}

.gray {
    color: darkgray;
    font-weight: bold;
    font-size: 32px;
}

p {
    float: left;
    margin-top: -10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    background-color: lightgray;
    width: 100%;
}

.banner1 img {
    width: 100%;
    padding: 32px 0px 32px 24px;
    justify-content: left;
}

.banner2 {
    padding-left: 50px;
    padding-right: 32px;
    width: 40%;
    margin-top: 120px;
    font-size: 30px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(129, 107, 107)
    font-weight: bold;
    text-align: justify;
}

.banner2 .button {
    background-color: rgb(90, 79, 79);
    display: block;
    flex-direction: row;
    padding: 0.05px;
}


.button h5 {
    color: white;
    font-weight: lighter;
    text-align: center;
}

.flex-content {
    display: flex;
    padding: 0 1.5rem;
}

.main-content {
    width: 60%;

}

.media-container {
    overflow: hidden;

}

.content-image-box {
    display: flex;
    padding: 1rem 0 1rem 1rem;
    border-bottom: 1px solid rgb(245, 245, 245);
  }

  .content-image-box .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    padding: 0 0.75rem 0 1rem;
  }

  .content-image-box h4 {
    padding-bottom: .5rem;
    font-size: 125rem;
    font-weight: bold;
  }
  
  .content-image-box p {
    padding-bottom: .5rem;
  }


.information-sec {
    display: flex;
}

.info-img {
    padding: 32px 22px;
}

.info-text {
    text-align: left;
    padding-left: 24px;
    padding-bottom: 32px;
}

.info-heading {
    font-weight: 600;
    margin-top: 0;
    font-size: 25px;
}

.info-heading h3 {
    
}


.info-img img {
    width: 100%;
}

.cards {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    width: 40%;
    
}

.card {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid lightgray;
    margin-bottom: 1px;
    
}

.card:hover {
    background-color: lightgray;
    cursor: pointer;
}

.card-img img {
    width: 100%;
}

.card-img {
    width: 35%;
    height: auto;

}

.card-text {
    display: flex;
    flex-direction: column;
    width: 65%;
    
}

